@import "./variables.scss";

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}