.uppercase {
  text-transform: uppercase;
}

.f-bold {
  font-weight: 700;
}

.f-sbold {
  font-weight: 600;
}

.f-normal {
  font-weight: 400;
}

.f-light {
  font-weight: 200;
}

.f-size-13 {
  font-size: 13px;
}

.f-size-14 {
  font-size: 14px;
}

.text-primary {
  color: $primary-color;
}